In [22]:
import pandas as pd
import numpy as np

In [27]:
w = pd.read_csv('google-books-common-words.txt', sep='\t',header=None, names=['word','count'],
               na_filter=False)
w

              word        count
0              THE  53097401461
1               OF  30966074232
2              AND  22632024504
3               TO  19347398077
4               IN  16891065263
...            ...          ...
97560       OILMEN       100016
97561        EVANG       100011
97562          XXL       100009
97563        LOSEY       100008
97564  WESTERGAARD       100005

[97565 rows x 2 columns]

In [28]:
len(w.word[0])

3

In [31]:
w5=w.iloc[[len(x)==5 for x in w.word.values]]

In [32]:
len(w5)

10541

In [23]:
np.where(w.word=='CHOICES')

(array([4020], dtype=int64),)

In [34]:
logo_df = logomaker.get_example_matrix('logomaker_logo_matrix',
                                       print_description=False)

In [35]:
logo_df.head()

       L    O    G    m    a    k    e    r
pos
0    0.8  0.0  0.0 -0.5  0.0  0.0  0.0  0.0
1    0.0  0.6  0.0  0.0 -0.5  0.0  0.0  0.0
2    0.0  0.0  0.6  0.0  0.0 -0.5  0.0  0.0
3    0.0  0.6  0.0  0.0  0.0  0.0 -0.5  0.0
4    0.0  0.0  0.0  0.0  0.0  0.0  0.0 -0.5

In [ ]:
w.word

In [38]:
w5.iloc[0:5000,].to_csv('5-letter-top5000.csv')

In [39]:
w5.to_csv('5-letter.csv')